/* --------------------- */
/* base
/* --------------------- */

html {
    font-size: 62.5%;
}

html:after,
body:before,
body:after {
    content: "";
    background-color: #d92b44;
    position: fixed;
    display: block;
    z-index: 1;
}

html:after {
    width: 2.6vw;
    min-width: 2rem;
    height: 100%;
    right: 0;
    top: 0;
}

body:before {
    width: 100%;
    height: 2.6vw;
    min-height: 2rem;
    bottom: 0;
    left: 0;
}

body:after {
    width: 2.6vw;
    min-width: 2rem;
    height: 100%;
    top: 0;
    left: 0;
}

body {
    font-size: 1.6rem;
    letter-spacing: .05em;
    color: #171717;
    font-family: 'Noto Serif', 'Noto Serif JP', serif;
    background-color: #FCF9F4;
}

img {
    width: 100%;
    vertical-align: bottom;
}

.sp-br {
    display: none;
}

.font-en {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.05em;
}

.fz-18 {
    font-size: 1.125rem;
}


/* --------------------- */
/* header
/* --------------------- */

.header-inner {
    position: relative;
}

.sheader_logo {
    position: absolute;
    position: fixed;
    z-index: 999;
    top: 4.5vw;
    left: 6vw;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.2vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sheader_logo>a {
    text-decoration: none;
    display: flex;
}

.sheader_logo>a:visited {
    color: black;
}

.sheader_logo .color_red {
    color: #fff;
    background-color: #d92b44;
    font-weight: lighter;
    padding: 0 5px;
}

.sheader_logo .space {
    margin-left: 1.5vw;
}

.header-nav {

    width: 135px;
    height: 240px;
    background-color: #fff;
    border: 3px solid #000;
    position: fixed;
    right: 0;
    bottom: 240px;
    float: right;
    z-index: 20;
}

.menu_deco {
    top: -4.25rem;
    left: -1.75rem;
    width: 6.75rem;
    height: 5.4375rem;

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/img/navi-deco.svg.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    font-weight: 600;
}

.menus .txt {
    transform: rotate(-5deg);
    color: #000;
}

.nav-list {
    padding: 1.5rem 0;
    text-align: center;
    list-style: none;
}

.nav-item>a {
    color: #000;
    padding: 0.5rem 1.75rem;
    display: block;
    line-height: 1.4;
}

.nav-item>a:hover {
    color: #D92B44;
    text-decoration: none;
    transition: all 0.4s ease-out;
    outline: none;
}

.copyright {
    writing-mode: vertical-rl;
    position: fixed;
    top: 50%;
    left: 0;
    color: #fff;
    display: flex;
    width: 2.6vw;
    align-items: center;
    z-index: 999;
}

.nav-option {
    list-style: none;
}

.nav-option a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    letter-spacing: 0.05em;
    color: #fff;
    background-color: #000;
    height: 5rem;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.nav-option a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #8B8B8C;
    transition: width 0.4s ease-out;
    z-index: -1;
}

.nav-option a:hover::before {
    width: 100%;
}

.nav-option a:hover {
    color: #fff;
    outline: none;
}

/* --------------------- */
/* deco
/* --------------------- */

.deco_frame {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    letter-spacing: 0.477778em;
    color: #fff;
    background: #d92b44;
    white-space: nowrap;
    z-index: 10;
    width: 100%;
    height: 2.6vw;
    min-height: 2rem;
}

.deco_frame>ul {
    display: flex;
    align-items: center;
    height: 100%;
}


/* --------------------- */
/* main1
/* --------------------- */

.fv-wrapper {
    margin: 0 20px;
}


/* --------------------- */
/* main-hero
/* --------------------- */

.hero {
    position: relative;
}

.hero_title {
    position: absolute;
    top: 17rem;
    right: 15rem;
    white-space: nowrap;
    text-align: center;
}

.hero_title>div:first-child {
    font-weight: bold;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium';
}

.hero_title>div:last-child {
    font-weight: lighter;
    font-size: 4.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0.05em;
}

#lottie {
    color: #d92b44;
    font-size: 18vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
}

#lottie>.f {
    position: absolute;
    top: 3vw;
    left: 10vw;
}

#lottie>.u1 {
    position: absolute;
    top: 8vw;
    left: 22vw;
    z-index: 1;
}

#lottie>.k1 {
    position: absolute;
    top: 4vw;
    left: 35vw;
    z-index: 1;
}

#lottie>.u2 {
    position: absolute;
    top: 20vw;
    left: 40vw;
}

#lottie>.o {
    position: absolute;
    top: 27vw;
    left: 54vw;
}

#lottie>.k2 {
    position: absolute;
    top: 23vw;
    left: 68vw;
}

#lottie>.a {
    position: absolute;
    top: 18vw;
    left: 80vw;
}

#hero-img {
    position: relative;
}

.hero_plant {
    width: 8%;
    position: absolute;
    top: 7.5vw;
    left: 14.5vw;
}

.hero_people {
    width: 10%;
}

#hero-img {
    position: relative;
}

.people1 {
    position: absolute;
    top: 15vw;
    left: 7vw;
}

.people2 {
    position: absolute;
    top: 25vw;
    left: 19vw;
    width: 7%;
}

.people3 {
    position: absolute;
    top: 17vw;
    left: 28vw;
    width: 12%;
}

.people4 {
    position: absolute;
    top: 12vw;
    left: 45vw;
}

.people5 {
    position: absolute;
    top: 6vw;
    left: 51vw;
    width: 17%;
}

.people6 {
    position: absolute;
    top: 20vw;
    left: 72vw;
}


/* --------------------- */
/* main-msg
/* --------------------- */
.msg_pen {
    width: 10%;
}

.msg_bg {
    width: 60%;
}

.msg_people {
    width: 40%;
}

.msg_clip1 {
    width: 18%;
}

.msg_clip2 {
    width: 18%;
}

.msg_clip3 {
    width: 18%;
}

.msg_clip4 {
    width: 20%;
}

.msg_eraser {
    width: 18%;
}

/* --------------------- */
/* main-interview
/* --------------------- */

.bg-red {
    background: #d92b44;
}

.interview_img {
    max-width: 15%;
    min-width: 20rem;
}

.slider {
    display: flex;
}